.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlankMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    font-size: 24px;
}

.title{
    margin-top: 23px;
    font-weight: 600;
}

.main{
    width: 480px;
    height: 709px;
    border: 1px solid black;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    font-size: 48px;
    font-weight: 700;
}

.text>p{
    font-size: 14px;
   margin-top: 24px;
}

.AllInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.inputOne{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.inputOne > input{
    border: 1px solid black;
    width: 384px;
    height: 48px;
}

.inputOne > label{
    margin-bottom: 8px;
}

.inputwo{
    display: flex;
    flex-direction: row-reverse;
}

.inputTwo> label{
    display: flex;
    margin-bottom: 8px;
}

.inputTwo > input{
    border: 1px solid black;
    width: 384px;
    height: 48px;
  
}

.inputThree{
    display: flex;
    flex-direction: column;
    margin-top: 24px;

}

.inputThree > input{
    border: 1px solid black;
    width: 384px;
    height: 48px;
}

.inputThree > label{
    margin-bottom: 8px;
}

.buttonBlack{
    width: 384px;
    height: 48px;
    color: white;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.buttonGoogle{
    width: 384px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    margin-top: 16px;
}

.logIn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

